@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:rgb(119,205,195);
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Reem Kufi', sans-serif;
  padding: 8px;
  
}


