/* WHOLE PAGE CSS */
.albumPage{
    max-width: 100%;
    height:100%;
}

.pageHolderAlbum{
    display: flex;
    justify-content: center;
    margin:7vh;
}

/* ALBUM (LEFT) SIDE CSS */

.leftSideAlbum {
    flex:45%;
}

.albumInfo {
    /* width:30%; */
    height:80vh;
    background:rgb(119,205,195);
    border-radius: 5px;
    margin:0px 35px;
    position: relative;
    margin: 0px 30px;
}

.albumPic{
    width: 15vw;
    height:15vw;
    margin-top:15px;
}

.albumSectionTitle{
    font-size: 40px;
    font-family: 'Reem Kufi', sans-serif;
}

.by {
    font-size: 20px;
}

.albumArtistSectionTitle{
    /* line-height: 10px; */
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
    margin:0;
    padding:0;
    font-weight: normal;
}

.star-ratings{
    display: inline;
}

.totalRatings{
    margin-top: 0;
    display: inline;
    padding-left:10px;
    font-size:15px;
}

.reviewButton{
    /* margin-top: 8px; */
    /* width: fit-content; */
    margin:auto;
    display: block;
    border-radius: 25px;
    border: none;
    width:130px;
    /* height: 25px; */
    /* background-color: white; */
    background-color:rgb(119,205,195);
    color:white;
    border:2px solid white;
    font-size: 12px;
    padding:6px;
    /* box-shadow: 4px 4px 5px rgb(74, 124, 118); */
} 

.reviewButton:hover {
    cursor: pointer;
    color:rgb(119,205,195);
    background-color: white;
}

.geniusPic{
    width:20px;
    height: 20px;
    vertical-align: middle;
}

.geniusBtn {
    vertical-align: middle;
    margin-top:10px;
    border:2px solid white;
    border-radius: 25px;
    background-color:rgb(119,205,195);
    color:white;
    font-size: 12px;
    height:30px;
    width:130px;
}

.geniusBtn:hover {
    background-color:white;
    color:rgb(119,205,195);
    cursor: pointer;
}

.forLaterAlbum{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right:10px;
    padding-bottom: 10px;
}

.forLaterAlbum input{
    margin-top: 8px;
    width: fit-content;
    border-radius: 25px;
    border: none;
    height: 25px;
    background-color: rgb(241, 241, 241);
    font-size: 13px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin-right: 5px;
}

.forLaterAlbum input:hover {
    color:rgb(119,205,195);
    cursor: pointer;
}

/* DISPLAYING TRACK NAMES */
.trackListAlbum {
    margin:0px 30px;
}

.trackListTitle {
    font-size: 35px;
    font-family: 'Reem Kufi', sans-serif;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-family: 'Reem Kufi', sans-serif;
    color: rgb(119,205,195);
  }
  
  tr:nth-child(even) {
    /* background-color: rgb(119,205,195);; */
  }

/* ALBUM REVIEWS (RIGHT SIDE) CSS */

/* REVIEW SECTION AS A WHOLE */

.dropdown-album{
    display:block;
    right:0;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-size: 15px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin-right: 10px;
}

.albumReviews {
    justify-content: center;
    margin-left: 50px; 
    width: 55%;
}

.albumReviewScroll{
    height: 900px;
    overflow: auto;
    margin-top:10px;
}

/* The Review Card */
.albumCardAlbum {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(253, 253, 253);
    display: flex;
    padding: 6px;
    height: 190px;
    margin-bottom: 15px;
    overflow-y: scroll;
    line-height: 25px;
}

  /* On mouse-over, add a deeper shadow */
.albumCardAlbum:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* I think this is for the left side of the card (pic + star rating) */
.albumReviewAlbum{
    margin: 0;
    padding-top: 3px;
}

.reviewContentAlbum {
    padding: 2px 16px;
    text-align: left;
    word-wrap: break-word;
    overflow-y: scroll;
}

/* Review Title */
.reviewAlbumAlbum {
    font-family: 'Reem Kufi', sans-serif;
    font-size:25px;
    font-weight: normal;
    line-height: 25px;
}

/* Review time/date/edit stuff */
.reviewHandleAlbum {
    margin:0;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 15px;
}

.likes {
    margin-top:10px;
}


/* Review Content */
.reviewInfoAlbum {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
    font-size:25px;
}

/* MEDIA QUERIES */
@media screen and (max-width:700px) {
    .albumPic{
        width: 20vw;
        height:20vw;
    }

    .reviewAlbumAlbum {
        font-size:15px;
        line-height: 15px;
    }

    .albumSectionTitle{
        font-size: 20px;
    }

    .pageHolderAlbum{
        flex-direction: column;
    }

    .pageHolderAlbum > div{
        width:100%;
        margin: 15px 10px;
    }

    .albumInfo {
        height:60vh;
        /* width:30vw; */
    }

    .forLaterAlbum {
        position: unset;
        display: block;
        justify-content: center;
    }

    .dropdown-album{
        margin: auto;
    }

}