.ArtistPage{
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

/* Top Part of Page */
.artistHeader{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

/* Artist picture */
.artistPic{
    width:20vw;
    height:20vw;
    border-radius: 50%;
}

/* Artist name */
.artistName2{
    font-size:5vw;
}

/* Bottom half of page */

.holderArtist{
    display: flex;
    border-top: 1px solid lightgray;
    height: min-content;
}

/* display albums */
.allAlbums {
    width: 45%;
    margin:0 auto;
} 

.sectionTitleArtist{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 35px;
    margin:0;
    margin-top:10px;
}

.grid { 
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    align-items: stretch;
    padding: 10px;
    margin-top:30px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
 }

 .albumArtist{
    overflow: auto;
    /* width:50vw; */
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width:13vw;
    height: 13vw;
}

.albumGridArtist:hover{
    cursor: pointer;
}

.albumNameArtist{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
}

/* Review side of page */

.artistReviews {
    width: 55%;
    justify-content: center;
    margin-left: 75px; 
    height: 100%;
}

.dropdown-artist{
    display:block;
    right:0;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-size: 15px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin-top:5px;
    margin-right: 10px;
    margin-bottom:15px;
}

.reviewSectionTitle{
    position: relative;
}

.artistReviewScroll{
    height: 50%;
    overflow: auto;
}

.cardArtist {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(165, 224, 217);
    display: flex;
    padding: 6px;
    height: 190px;
    margin-bottom: 15px;
    overflow-y: scroll;
    /* line-height: 15px; */
}

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.albumReviewArtist{
    margin: 0;
    padding-top: 3px;
}

  /* Add some padding inside the card container */
.reviewContentArtist {
    padding: 2px 16px;
    text-align: left;
    word-wrap: break-word;
    overflow-y: scroll;
}

.reviewAlbumArtist {
    font-family: 'Reem Kufi', sans-serif;
    font-size:25px;
    font-weight: normal;
    line-height: 25px;
}

.reviewHandleArtist{
    margin:0;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 15px;
}

.likes {
    margin-top:10px;
}

.reviewInfoArtist{
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
    font-size:25px;
    line-height:25px;
}

/* MEDIA QUERIES */
@media screen and (max-width:700px) {
    .allAlbums {
        width:75%;
    }

    .sectionTitleArtist{
        font-size: 25px;
        margin-top:20px;
    }

    .grid img{
        width: 20vw;
        height: 20vw;
    }

    .albumReviewArtist {
        width:20%;
    }

    .holderArtist {
        flex-direction: column;
    }

    .dropdown-artist{
        margin: auto;
        margin-top:10px;
    }

    .artistReviews {
        margin:auto;
        width:75%;
    }

    .artistReviewScroll {
        width:75vw;
        margin-top:10px;
    }

}