@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

  .follow {
    border: 3px solid transparent;
    justify-content: center;
    margin-right: 5%;
    /* margin-left: 15%; */
  }

  .followProfPic{
    width: 100%;
  }
  
  .header h1 {
      text-align: center;
      font-size: xx-large;
      font-weight: 900;
      font-family: 'Reem Kufi';
      color:rgb(119,205,195);
    }

    .headerName h2 {
      /* margin-left: 50%; */
      margin: 0 auto;
      text-align: center;
      font-weight: 350;
      font-family: 'Reem Kufi';
      color:black;
    }

    .headerName h2:hover {
      font-weight: 750;
      font-family: 'Reem Kufi';
      color: rgb(119,205,195);
    }

    .headerName h3 {
      /* margin-left: 55%; */
      font-family: 'Reem Kufi';
      font-weight: 350;
      color: rgb(119,205,195);
      margin-top: 0;
    }
    
  
  .userOrder {
    flex-direction: column;
    width: 100%
  }

  .follower-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 30px;
    padding: 0 10vw;
    grid-column-gap: 5vw;
    grid-row-gap: 3vw;
  }

  .follow-grid-item{
    padding: 8px;
    /* width:250px;
    height:350px; */
    margin:0 5vw;
    width:20vw;
    font-size: 30px;
    text-align: center;
    
    border-radius: 25px;
  }

  .follow-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

  .follow-card:hover{
    box-shadow: 0 4px 8px 0 rgba(84, 143, 136, 0.575);
  }
  
  .follow-title {
    color: grey;
    font-size: 18px;
    display: block;
    width: 100%;
  }

  /* MEDIA QUERIES */
@media screen and (max-width:750px) {
  .follow-grid-container{
      grid-template-columns: auto auto;
  }

  .follow-grid-item {
      width:25vw;
  }
}

@media(max-width:600px){
  .follow-grid-container{
      grid-template-columns: auto;
  }

  .follow-grid-item {
      width:35vw;
  }

}