@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

  .follow {
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    margin-right: 5%;
    /* margin-left: 15%; */
  }
  
  .header h1 {
      text-align: center;
      font-size: xx-large;
      font-weight: 900;
      font-family: 'Reem Kufi';
      color:rgb(119,205,195);
    }

    .headerName h2 {
      margin-left: 50%;
      text-align: right;
      font-weight: 350;
      font-family: 'Reem Kufi';
      color:black;
    }

    .headerName h2:hover {
      font-weight: 750;
      font-family: 'Reem Kufi';
      color: rgb(119,205,195);
    }

    .headerName h3 {
      margin-left: 55%;
      font-family: 'Reem Kufi';
      font-weight: 350;
      color: rgb(119,205,195);
    }
    .headerName h3:hover {
      font-weight: 750;
      font-family: 'Reem Kufi';
      color: black;
    }
  
  .userOrder {
    flex-direction: column;
    width: 100%
  }