@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

  .follow {
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    /* text-align: center; */
  }
  
  .header h1 {
      text-align: center;
      font-size: xx-large;
      font-weight: 900;
      font-family: 'Reem Kufi';
      color:rgb(119,205,195);
      /* color: grey; */
    }

    .headerName h2 {
      /* text-align: center; */
      margin-right: 35%;
      font-weight: 900;
      font-family: 'Reem Kufi';
      color:black;
      text-align: right;
      /* color: grey; */
    }

    .headerName button {
      margin-right: 20%;
      /* background-color: transparent; */
      outline-color: transparent;
      /* font-weight: 300; */
      font-style: italic;
      color: rgb(119,205,195);
    }
  
  .userOrder {
    flex-direction: column;
    width: 100%
  }