.CreateAccount{
    max-width: 100%;
    height: 100%;
}
p{
    margin:0;
    margin-top:10px;
}
h1{
    margin:0;
    margin-top:10px;
}

h2 {
    margin-top:25px;
}
.container > div {
    width:30%;
    height:450px;
    background:rgb(119,205,195);
    margin:auto;
    border-radius: 25px;
    margin:35px;
}

.container {
    display: flex;
    margin-top:40px;
    justify-content: center;
}

.left{
    position: relative;
}

.followBtn {
    margin-top:5px;
}
.prof {
    /* width:15px; */
    /* size:10em; */
    font-size:90px;
    margin-top:30px;
}

.follow {
    display: flex;
    justify-content: center;
}

.follow > div {
    margin:10px;
}

.edit {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.albumReviews {
    justify-content: center;
    flex: 55%;
    margin-left: 50px; 
}

.albumReviewScroll{
    height: 900px;
    overflow: auto;
}

.albumCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(253, 253, 253);
    display: flex;
    padding: 6px;
    height: 190px;
    margin-bottom: 15px;
}

.albumCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.albumReview{
    margin: 0;
    padding-top: 2px;
}

.reviewHandle{
    text-align: left;
    font-size: 15px;
    line-height: 5px;
}

.reviewInfo{
    line-height: 40px;
    font-size: 25px;
}

.reviewContent {
    padding: 2px 16px;
    text-align: left;
    word-wrap: break-word;
}

.resize {
    width: 150px;
    height: auto;
}

