.AlbumPage{
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    height: 100%;
    margin-bottom: 20px;
}

.albumPic{
    height: 250px;
}

.artistHeader{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.artistName2{
    font-size: 65px;
}

.albumHolder{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    height: 50%;
    margin-bottom: 100px;

}

.albumInfo {
    flex: 45%;
}

.albumInfoTemp{
    background-color: rgb(119,205,195);
    border-radius: 7%;
    height: 100%;
    width: 625px;
    margin: 0 auto;
    position: relative;
}

.userName{
    font-size: 50px;
}

.profileHandle{
    margin-top: 0;
    font-size: 40px;
}

.followBtn{
    margin-bottom: 30px;
    margin-top: 8px;
    width: 125px;
    border-radius: 25px;
    border: none;
    height: 25px;
    background-color: white;
    font-size: 15px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
}
.followers {
    display: inline-block;
    font-size: 20px;
}
.following {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}

.followBtn2 {
    margin-top: 8px;
    width: 75px;
    border-radius: 25px;
    border: none;
    height: 27px;
    background-color: rgb(241, 241, 241);
    font-size: 13px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin-right: 5px;
}

.bio {
    font-size: 30px;
    font-weight: 600;
}

.logout{
    margin-left: 10px;
}
.albumSectionTitle{
    font-size: 50px;
}

.albumArtistSectionTitle{
    line-height: 10px;
    font-size: 30px;
}

.star-ratings{
    display: inline;
}

.editBtn{
    margin-left: 10px;
}


.totalRatings{
    margin-top: 0;
    display: inline;
}

.reviewButton{
    margin-top: 8px;
    width: fit-content;
    border-radius: 25px;
    border: none;
    height: 25px;
    background-color: white;
    font-size: 20px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin-right: 5px;
}

.forLater{
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 20px;
}

.forLater input{
    margin-top: 8px;
    width: fit-content;
    border-radius: 25px;
    border: none;
    height: 25px;
    background-color: rgb(241, 241, 241);
    font-size: 13px;
    box-shadow: 4px 4px 5px rgb(74, 124, 118);
    margin-right: 5px;
}

.albumReviews {
    justify-content: center;
    margin-left: 50px; 
    width: 55%;
}

.albumReviewScroll{
    height: 900px;
    overflow: auto;
}

.resize {
    width: 150px;
    height: auto;
}


.albumCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(253, 253, 253);
    display: flex;
    padding: 6px;
    height: 190px;
    margin-bottom: 15px;
    overflow-y: scroll;
}

  /* On mouse-over, add a deeper shadow */
.albumCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.albumReview{
    margin: 0;
    padding-top: 3px;
}
  /* Add some padding inside the card container */
.reviewContent {
    padding: 2px 16px;
    text-align: left;
    word-wrap: break-word;
    overflow-y: scroll;
}

.reviewHandle{
    text-align: left;
    font-size: 15px;
    line-height: 5px;
}

.reviewInfo{
    line-height: 40px;
    font-size: 25px;
    
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }